@charset "utf-8";

.loading {
  height: 100svh;
  width: 100svw;
<<<<<<< HEAD
  max-width: 100%;
=======
>>>>>>> dd492dbe2e6336b289702b3cecf74f9f1a9cab48
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-wrapper {
  height: var(--content-height);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .loading-wrapper {
    height: var(--content-height-pc);
  }
}
