@charset "utf-8";
@use './config/variables' as var;
/* ========================================================
                      .p-footer
========================================================*/
.p-footer {
  text-align: center;
  background-color: var.$footer-bg;
  padding: 12px 0;
}

.p-footer__copyrights {
  color: var.$font-color-white;
  font-size: 12px;
}
