@charset "utf-8";
@use './config/variables' as var;
/* ========================================================
                      .l-footer
========================================================*/
.l-footer {
  text-align: center;
  background-color: var.$footer-bg;
  padding: 12px 0;
}

.l-footer__copyrights {
  color: var.$font-color-white;
  font-size: 12px;
}
