@charset "utf-8";
@use './config/mixin' as mix;
@use './config/variable' as var;

/* news */
.p-news-article {
  margin: 40px 0;
  max-width: 100%;
}
.p-news-article__inner {
  padding: 0 20px;
}

.p-news-article__pager {
  width: 100%;
  margin: 0 auto;
  padding: 5px 0 40px;
}

.p-news-article__pager-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.p-news-article__pager-button {
  @include mix.montserrat-bold;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px 16px;
  background-image: linear-gradient(180deg, #7633a4, #250d65);
  color: #ffffff;
}

.p-news-article__pager-button[data-is-active='true'] {
  background-image: none;
  background-color: #f1ebf8;
  color: var(--primary);
}

.p-news-article__error-message {
  font-size: 1.5rem;
  margin: 1rem 0 3rem;
  text-align: center;
}

.p-news-article__error-link {
  color: white;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .p-news-article {
    margin: 70px 0;
  }
  .p-news-article__inner {
    max-width: 1110px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}
