@charset "utf-8";
@use './config/mixin' as mix;
@use './config/variable' as var;

/* service */
.p-service-article {
  margin: 40px 0;
  padding-bottom: 40px;
}
.p-service-article__inner {
  padding: 0 20px;
}

.p-service-article__list-item {
  text-align: center;
}

.p-service-article__list-item:not(:last-child) {
  padding-bottom: 40px;
}
.p-service-article__list-item:last-child {
  padding-bottom: 5px;
}

.p-service-article__image-wrapper {
  width: 100%;
}

.p-service-article__item-image {
  object-fit: cover;
  object-position: center bottom;
  width: 100%;
}

.p-service-article__item-title {
  @include mix.montserrat-bold;
  margin: 12px 0 10px;
}
.p-service-article__item-text {
  @include mix.hiragino-w3;
  font-size: 1rem;
  text-align: left;
  line-height: 1.8;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .p-service-article__inner {
    max-width: 1110px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .p-service-article__list-item {
    display: flex;
    gap: 50px;
    width: 100%;
  }
  .p-service-article__list-item:not(:last-child) {
    padding-bottom: 60px;
  }
  .p-service-article__image-wrapper {
    min-width: 50%;
  }
}
