@use './config' as config;

.skillsSection {
  .skillsContainer {
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    gap: 3rem;
  }

  .skillCategoryTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: config.$color-accent;
    margin-bottom: 1.5rem;
  }

  .skillList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .skillItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: config.$color-surface;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    svg {
      font-size: 1.5rem;
    }
    span {
      font-size: 1rem;
    }
  }
}
