@charset "utf-8";
/* ==============================================
                p-footer
================================================= */
.p-footer {
  padding-top: 76px;
}

.p-footer__inner {
  margin: 0 2%;
  padding: 7% 6%;
  border-top: 2px solid #cfcfcf;
}

.p-footer__text-container {
  display: flex;
  justify-content: center;
}

.p-footer__copyright {
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-footer {
    padding-top: 71px;
  }

  .p-footer__inner {
    margin: 0 10%;
    padding: 2% 0;
    border-top: 1px solid #cfcfcf;
  }

  .p-footer__text-container {
    justify-content: flex-end;
  }

  .p-footer__copyright {
    text-align: right;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
  }
}
