@charset "utf-8";
/* ==============================================
                p-header
================================================= */
.p-header {
  padding: 0 3%;
}

.p-header__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 24px 8px 20px;
  background-color: white;
}

.p-header__logo-link {
  color: inherit;
  text-decoration: none;
}

.p-header__logo-link:visited {
  color: inherit;
}

.p-header__title {
  font-weight: 800;
  font-size: 24px;
}

.p-header__menu {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  width: 100%;
}

.p-header__menu-item {
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 1px;
}

.p-header__menu-item:not(:first-child) {
  margin-left: 16px;
}

.p-header__menu-item-link {
  color: inherit;
  text-decoration: none;
}

.p-header__menu-item-link:visited {
  color: inherit;
}

@media screen and (min-width: 768px) {
  .p-header__inner {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0;
    padding: 27.5px 0;
  }

  .p-header__title {
    font-size: 28px;
    font-weight: 900;
    padding-right: 12%;
  }

  .p-header__menu {
    width: 50%;
    justify-content: flex-end;
    padding-right: 3%;
    column-gap: 4%;
  }

  .p-header__menu-item {
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 0.5px;
  }
}
