@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* base */
html {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

body {
  width: 100%;
  position: relative;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

dl,
dt,
dd {
  margin: 0;
}
