@charset "utf-8";
/* color */
:root {
  --primary: #391e88;
  --dark-gray: #e8e8e8;
  --gray: #f0f0f0;
  --light-gray: #f7f7f7;
  --pointer: #c0c0c0;
  --font-color: #333333;
  --main-bg: #ffffff;
  --gradation-start: #7633a4;
  --gradation-end: #250d65;
  --button-bg-gradation: linear-gradient(0.25turn, var(--gradation-start), var(--gradation-end));
  --header-bg: #21054d;
  --footer-bg: #120e19;
  --swiper-pagination-bottom: 3px;
  --swiper-theme-color: var(--primary) !important;
  --header-height: 64px;
  --footer-height: 209.09px;
  --footer-height-pc: 175.3px;
  --content-height: calc(100% - var(--header-height) - var(footer-height));
  --content-height-pc: calc(100% - var(--header-height) - var(footer-height-pc));
}
