@charset "utf-8";
/* utility */
.u-fs11 {
  font-size: 11px;
}
.u-fs12 {
  font-size: 12px;
}
.u-fs13 {
  font-size: 13px;
}
.u-fs14 {
  font-size: 1rem;
}
.u-fs15 {
  font-size: 15px;
}
.u-fs16 {
  font-size: 16px;
}
.u-fs17 {
  font-size: 17px;
}
.u-fs18 {
  font-size: 18px;
}
.u-fwb {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .u-only-sp {
    display: none;
  }
}
